@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Описание соцсети
    </div>
    <div class="main">
        Регистрация
        Авторизация
    </div>
</div>
