@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        <div class="center">
            Соцсеть с котиками.
        </div>
        <img class="main-img" src="http://pngimg.com/uploads/husky/husky_PNG19.png" />
    </div>
    <div class="main">
        //TODO:
        <partial name="Login" model="Model.LoginView" />
        <partial name="Register" model="Model.RegisterView" />
    </div>
</div>
