@model ASP.SocialNetwork.Contracts.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Регистрация нового пользователя</h2>
<form method="get" asp-controller="Register" asp-action="RegisterPart2">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="FirstName"></label><br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label><br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>